.blue_button {
display: inline-block;
color: #fff;
text-shadow: 0 -1px 1px rgba(0,0,0,0.37);

-webkit-box-shadow: 0 1px 1px rgba(255,255,255,0.92),inset 0 -1px 1px rgba(0,0,0,0.22);
background-image: #DEC0A5;
background-image: -moz-linear-gradient(90deg, #5A4742 0%, #5A4742 100%);
background-image: -o-linear-gradient(90deg, #5A4742 0%, #5A4742 100%);
background-image: -webkit-linear-gradient(90deg, #5A4742 0%, #5A4742 100%);
background-image: linear-gradient(90deg, #5A4742 0%, #5A4742 100%);
}

.blue_button:hover {
color: white;

-webkit-box-shadow: 0 1px 1px rgba(255, 255, 255, 0.92), inset 0 -1px 1px rgba(0, 0, 0, 0.22);
box-shadow: 0 1px 1px rgba(255, 255, 255, 0.92), inset 0 -1px 1px rgba(0, 0, 0, 0.22);
background-image: #3B2A24;
background-image: -moz-linear-gradient(90deg, #3B2A24 0%, #3B2A24 100%);
background-image: -o-linear-gradient(90deg, #3B2A24 0%, #3B2A24 100%);
background-image: -webkit-linear-gradient(90deg, #3B2A24 0%, #3B2A24 100%);
background-image: linear-gradient(90deg, #3B2A24 0%, #3B2A24 100%);
text-decoration: none;
}

#campaign #funding_area .campaign_title {
font-family: Trebuchet MS;
font-size: 42px;
letter-spacing: 0em;
display: none;
}

#campaign #funding_area .campaign_title a {
color: #695853;
text-decoration: none;
}

#campaign #funding_area {
background: #F9F3EE;
}