<div id="second_call_to_action">
      <div class="container">
      <div></div>
      <div class="center">
        <a href="/preorder/checkout_amount" class="blue_button" id="secondary_cta">
          Contribute
        </a>
        
      </div>
       </div>
    </div>

    <div id="faq">
      <div class="container clearfix">
      <div class="center">
        <h3>Frequently Asked Questions</h3>
      </div>
      <ul>
        <li class=''>
          <details class=''>
            <summary class=''>When will I be charged?</summary>
            <p><p>Your Credit Card is charged immediately when you pledge even if the project hasn't reach its goal yet. If the project has already reached its goal (or is a pre-order with no goal) the Credit Card is also charged immediately. </p></p>
          </details>
        </li>
        <li class=''>
          <details class=''>
            <summary class=''>Why was my payment declined?</summary>
            <p><p>Assuming you have the necessary funds it was likely declined by your card issuer due to their fraud/security policies. You’ll have to contact them directly and ask them to authorize for the payment to go through. Keep them on the phone while you try the payment again to make sure it goes through – sometimes they don’t unlock everything properly the first time.</p></p>
          </details>
        </li>
      </ul>
      <ul class="col2">
        <li class=''>
          <details class=''>
            <summary class=''>Is this a secure transaction?</summary>
            <p><p>Definitely. Your payment information is passed through a secure connection to our Website. Credit card information is never stored on our servers.</p></p>
          </details>
        </li>
        <li class=''>
          <details class=''>
            <summary class=''>How long will it be before I get my stuff?</summary>
            <p><p>This will depend on the artist. They will give you some updates during the project process. We will make sure that what you have pledged for reaches you as soon as possible.</p></p>
          </details>
        </li>
      </ul>
    </div>
  </div>
</div>