<ul class="nav nav-tabs">
    <li class="one"><a href="/">Description</a></li>
    <li class="two"><a href="/news">News</a></li>
    <li class="three"><a href="/contact">Contact</a></li>
    <li class="four"><a href="presskit">Press Kit</a></li>
    <li class="five"><a href="/comments">Comments</a></li>
</ul>

