    <head>
      <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
        <script type="text/javascript">window.NREUM||(NREUM={});NREUM.info={"beacon":"bam.nr-data.net","errorBeacon":"bam.nr-data.net","licenseKey":"7dbfbf9e37","applicationID":"3521223","transactionName":"c1cIFktXXVldQxxSV11IBwteVkIaUF5eVA==","queueTime":0,"applicationTime":395,"agentToken":null,"agent":"js-agent.newrelic.com/nr-632.min.js"}</script>

        <meta name="viewport" content="width=device-width, initial-scale=1">

    </head>

    <!--[if lt IE 9 ]><body class="lt-ie9"><![endif]-->
    <!--[if (gt IE 9)|!(IE)]><!--> <body><!--<![endif]-->

    <div id="fb-root"></div>
      <script>
        window.fbAsyncInit = function() {
        FB.init({
        appId      : '331145500360318',
        status     : true,
        xfbml      : true
        });
        };

        // Load the SDK asynchronously
        (function(d, s, id){
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) {return;}
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/all.js";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
      </script>

      <script>
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
      </script>
    </div>

    <div id="main">
     <div id="checkout">
      <div id="campaign">
      <%= render 'preorder/nav_stab' %>
        <div id="campaign_body">
      <div class="container clearfix">
        <div class="main_content narrow">
         <div class="tab-content">
                <div class="tab tab-pane fade active in">
                 <% Contact.all.each do |c| %>
                   <%= raw(c.content) %>
                 <% end %> 
                </div>  
              </div>
              </div>
               <%= render 'preorder/reward_sidebar' %>
             </div>
            </div>      


    <%= render 'preorder/foot' %>

  <div class="hide"><a href="https://gwentiana.tilt.com/gwen-tiana-the-debut-album#disqus_thread" data-disqus-identifier="gwen-tiana-the-debut-album" id="parse">0</a></div>
  <script type="text/javascript">
    var disqus_shortname = 'gwentiana';

    (function () {
    var s = document.createElement('script'); s.async = true;
    s.type = 'text/javascript';
    s.src = '//' + disqus_shortname + '.disqus.com/count.js';
    (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
  </script>
  <script>
    window.onload = function(){

      var parse = document.getElementById('parse');
      var count = document.getElementById('count');

      count.innerHTML=parseInt(parse.innerHTML,10);
    };
  </script>
</div>
    </div>

    <script type="text/javascript" src="//assets.pinterest.com/js/pinit.js"></script> 

  <script type="text/javascript">
     $(document).ready(function() {
     $('.three').addClass('active');
     });
   </script

</body>


